body, html{
    height: 100vh;
    overflow:hidden;
}

.center-horizontally{
    text-align: center;
}

.center-vertically {
	padding: 50%;
}

.padded-text{
    margin: 20px 100px 0 100px;
}

/*
	Style the horizontal ruler according to the defaults on the W3Schools site as hr officially
	is no longer used as a visual element with HTML5 so we should supply custom CSS.
*/
hr {
	display: block;
	border-style: inset;
	border-width: 1px;
}

.scrollable-column{
    height: 100vh;
	overflow-y: scroll;
}

.textbox-width{
	width: 25vw;
}
