/*
 	@TODO
  	Add some padding to the buttons for the tasks.
 */

body, html{
    height: 100vh;
    overflow:hidden;
}

.h1-big{
	font-size: 60px;
}

.center-horizontally{
    text-align: center;
}

.center-vertically {
	padding-top: 40vh;
}

.padded-text{
    margin: 20px 100px 0 100px;
}

/*
	Style the horizontal ruler according to the defaults on the W3Schools site as hr officially
	is no longer used as a visual element with HTML5 so we should supply custom CSS.
*/
hr {
	display: block;
	border-style: inset;
	border-width: 1px;
}

.white-text{
	color: white;
}

.scrollable-column{
    height: 100vh;
	overflow-y: scroll;
}

.textbox-width{
	width: 25vw;
}

.btn-big {
	width: 170px;
	height: 60px;
	font-size: 18px;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #181b31;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
